<template>
  <nav
    class="navbar container has-text-centered"
    id="navbar"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-start">
      <a class="navbar-item">About Us</a>
      <a class="navbar-item">Tours</a>
      <a class="navbar-item red">Support Us</a>
    </div>
  </nav>
</template>

<script>
export default {
  name: "NavBar"
};
</script>

<style lang="scss">
nav {
  margin-top: 30px !important;
  position: fixed;
  .red {
    color: #be063b;
    font-weight: bold;
  }
  a.navbar-item:nth-child(1) {
    font-size: 18px;
    margin-left: 0;
    position: relative;
    right: 10px;
  }
  a.navbar-item {
    font-size: 18px;
    margin: 0 15px;
  }
  a.navbar-item:hover {
    color: #fe5c18;
  }
}
.img-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  img {
    height: 100vh;
  }
}

@media only screen and (max-width: 720px) {
  nav {
    background-color: transparent !important;
    z-index: 9999 !important;
  }
}
</style>
