<template>
  <div id="SectionSix">
    <div class="container">
      <div class="column is-12 has-text-centered">
        <h3>Do you want to support us?</h3>
        <div class="svg">
          <img src="../assets/ribbonTwo.png" alt="">
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  #SectionSix{
    margin-bottom: 60px;
    h3{
      margin: 80px 0;
      font-size: 32px;
      font-weight: bold;
      color: #d21046;
    }
  }
</style>