<template>
  <div id="sectionFour">
    <h2 class="has-text-centered">The fauna of the reserve</h2>

    <div class="svg" v-if="show">
      <transition>
        <!-- Generator: Adobe Illustrator 23.0.6, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 1080 1080"
          style="enable-background:new 0 0 1080 1080;"
          xml:space="preserve"
        >
          <path
            fill="#bb0937"
            class="st0"
            d="M572,140c1,0,2,0,3,0c0,0.67,0,1.33,0,2c3.15,5.36-0.56,15.95,1,23c4.44,20.1,3.44,54.86,15,67
            c0-0.33,0-0.67,0-1c17.85-11.79,30.32-28.38,54-35c25.06-7.01,35.01,12.91,41,29c1.63,4.38,4.96,12.33,3,20
            c-6.79,26.55-47.76,38.71-75,22c-12.51-7.68-15.68-18.05-25-28c0,0.33,0,0.67,0,1c-9.68,6.5-16.11,17.6-23,27
            c-21.52,29.36-56.95,72.05-41,125c7.91,26.27,15.58,49.86,23,78c2.82,10.7,5.48,30.79,2,44c-13.93,52.9-63.75,66.68-64,134
            c16.41,1.53,33.37,9.26,33,28c-5.62,6.08-6.7,12.23-18,13c-1.81-1.48-4.4-2.34-7-3c-6.13-9.78-11.53-18.95-12-35
            c-10.94-0.21-22.44-0.78-31,2c-37.47,12.18-70.4,53.61-56,110c12.09,47.33,28.81,87.21,49,126c5.83,11.21,9.82,22.21,15,34
            c2.26,5.15,5.85,9.23,7,16c-0.33,0-0.67,0-1,0c0,0.33,0,0.67,0,1c-0.67,0-1.33,0-2,0c-1.49-6.4-5.64-11.69-8-17
            c-4.93-11.08-8.48-21.39-14-32c-20.67-39.72-37.52-80.41-50-129c-2.56-9.98-3.4-25.96-1-36c2.52-10.55,1.35-18.41,5-27
            c13.64-32.1,40.38-52.34,87-52c-0.98-64.06,47.63-80.78,63-128c3.77-11.58,2.91-33.63,0-45c-7.37-28.8-13.78-51.77-22-79
            c-3-9.94-8.47-27.38-5-42c8.11-34.19,23.29-60.34,41-85c5.78-8.05,26.23-26.54,28-35C575.47,218.2,572.2,167.66,572,140z"
          />
          <path
            class="st1"
            d="M486,652c-0.2,16.53,6.03,24.83,14,33c2,0,4,0,6,0c2.79-2.99,6.01-6.21,9-9c0.09-3.09,0.14-6.33-1-8
            C511.02,658.54,497.62,652.71,486,652z"
          />
          <path
            class="st1"
            d="M648,199c-7.63,5.25-19.19,6.82-27,12c-10.58,7.02-18.64,18.01-29,25c6.06,13.45,17.1,25.44,31,31
            c20.67,8.27,48.92,0.92,58-12c11.64-16.58-2.06-45.79-13-53C663.31,198.91,655.81,198.82,648,199z"
          />
        </svg>
      </transition>
    </div>
    <div class="container">
      <div class="column">
        <div class="columns">
          <div class="column is-8">
            <img class="leaf" src="../assets/leaf1.png" alt />
            <img class="leaf leaf2" src="../assets/leaf2.png" alt />
            <img class="leaf leaf3" src="../assets/leaf3.png" alt />
          </div>
          <div class="column is-4">
            <p class="one" id="a">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta,
              aut voluptatum. Libero ad explicabo laboriosam temporibus magni
              eaque consequatur atque placeat? Aspernatur quae quasi beatae ut
              in accusamus exercitationem tempora?
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <p class="one">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod fuga
          et, repellat minus libero incidunt, nisi ut quas illo necessitatibus
          dignissimos iure iste? Blanditiis non, culpa quos delectus iste
          assumenda.
        </p>
      </div>
      <div class="column is-5 is-offset-7">
        <p class="one">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
          exercitationem ea dolorum, ad cum voluptatem pariatur recusandae
          tenetur ipsum! Quaerat, velit sint. Culpa rem sunt explicabo at,
          laboriosam optio suscipit?
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SectionFour",
  data: function() {
    return {
      show: false
    };
  }
};
</script>

<style lang="scss" scoped>
.v-enter-active {
  animation: bounceIn 2s;
}

.v-leave-active {
  animation: bounceIn 2s reverse;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#sectionFour {
  padding: 15vh 0;
  h2 {
    font-size: 64px;
    color: #000;
    margin-bottom: 60px;
  }

  .one {
    padding-top: 100px;
    font-weight: 500;
  }

  .leaf {
    width: 100px;
    transform: rotate(100deg);
  }

  .leaf2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(-25deg);
  }

  .leaf3 {
    position: absolute;
    top: 100%;
    left: 0;
    transform: rotate(-69deg);
  }

  .svg {
    position: relative;
    width: 100%;
    svg {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: -250px;
    }
  }
  .st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
  }
  .st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #ffffff;
  }
  path {
    //we divide the line in multiple dashes (some full and other empty)
    //these dashes have 1000px in length
    //so there are one dash full of 1000px of length and then one dash empty of 1000px of length and so on and so forth
    stroke-dasharray: 1000;

    //we change the position of the dashes
    stroke-dashoffset: 1000;

    //now we animate the dashoffset
    //we reduce the offset of each dash so we have the impression that the dashes are moving
    animation: dash 5s linear forwards;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}
</style>
