<template>
  <div id="app">
    <NavBar></NavBar>

    <div class="img-container">
      <img
        class="lazy-load"
        src="./assets/illistruation.png"
        alt="illustration"
      />
    </div>

    <div class="container">
      <div class="column is-half" id="sectionOne">
        <h2 class="red">Autumn</h2>
        <h1 class="purple">Nature Reserve</h1>
        <button class="purple-button">Buy Tickets</button>
        <div class="column is-three-quarters">
          <p class="info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dolor
            iure nostrum autem optio voluptate soluta magni hic beatae a,
            aliquid itaque, quidem fuga maiores, nemo minus. A, quos tempore!
          </p>
        </div>
      </div>
      <SectionTwo></SectionTwo>
    </div>
    <SectionThree></SectionThree>
    <sectionFour></sectionFour>
    <SectionFive></SectionFive>
    <SectionSix></SectionSix>
    <Footer></Footer>
  </div>
</template>

<script>
import NavBar from "./components/NavBar.vue";
import SectionTwo from "./components/SectionTwo.vue";
import SectionThree from "./components/SectionThree.vue";
import SectionFour from "./components/SectionFour.vue";
import SectionFive from "./components/SectionFive.vue";
import SectionSix from "./components/SectionSix.vue";
import Footer from "./components/Footer.vue";

import lozad from "lozad";

export default {
  components: {
    NavBar,
    SectionTwo,
    SectionThree,
    SectionFour,
    SectionFive,
    SectionSix,
    Footer
  },
  mounted() {
    let elmts = document.querySelectorAll(".lazy-load");
    window.img_observer = lozad(elmts);
    window.img_observer.observe();
  }
};
</script>

<style lang="scss">
#sectionOne,
#sectionTwo {
  padding: 18vh 0;
  h4 {
    color: #332f72;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 36px;
    font-weight: 300;
    color: #2b2a3e;
  }
  p {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
  }
  .columns {
    margin-top: 60px;
  }
}

.red {
  color: #ca0034;
  font-weight: bold;
  font-size: 48px;
}

.purple {
  color: #332d7a;
  font-size: 92px;
  font-weight: 400;
}

.purple-button {
  margin-top: 60px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  -webkit-box-pack: center;
  background-color: #4e56dc;
  justify-content: center;
  padding-bottom: calc(1em - 1px);
  padding-left: 4em;
  padding-right: 4em;
  padding-top: calc(1em - 1px);
  text-align: center;
  white-space: nowrap;
  transition: ease 0.6s;
  box-shadow: 0 3px 6px rgba(78, 86, 220, 0.16),
    0 3px 6px rgba(78, 86, 220, 0.23);
}

.purple-button:hover {
  box-shadow: 0 14px 28px rgba(78, 86, 220, 0.16),
    0 10px 10px rgba(78, 86, 220, 0.16);
}

.is-three-quarters {
  margin-top: 100px;
  padding-left: 0 !important;
  p {
    color: #9d9fa7;
  }
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 64px;
  }
  .img-container > img {
    opacity: 0.5;
  }
  .container {
    z-index: 999;
  }
}
</style>
